allow untrusted_app adb_data_file:file { getattr open read execute };
allow untrusted_app adb_data_file:dir { getattr search };

allow untrusted_app adsprpcd_file:dir { open search read getattr };
allow untrusted_app apex_mnt_dir:dir read;
allow untrusted_app apexd_exec:file getattr;
allow untrusted_app apk_data_file:file { setattr };
allow untrusted_app app_data_file:file { execute };
allow untrusted_app app_data_file:file { execute_no_trans };
allow untrusted_app at_device:chr_file getattr;
allow untrusted_app cgroup:dir read;
allow untrusted_app cgroup:file getattr;
allow untrusted_app cgroup_desc_file:file getattr;
allow untrusted_app configfs:dir search;
allow untrusted_app debugfs:dir read;
allow untrusted_app device:chr_file getattr;
allow untrusted_app device:dir read;
allow untrusted_app flags_health_check_exec:file getattr;
allow untrusted_app fs_bpf:dir { read search write getattr };
allow untrusted_app fs_bpf:file getattr;
allow untrusted_app fsck_exec:file getattr;
allow untrusted_app hal_imsrtp:dir getattr;
allow untrusted_app hal_rcsservice:dir getattr;
allow untrusted_app ims:dir getattr;
allow untrusted_app init:dir getattr;
allow untrusted_app init_exec:file { getattr open read };
allow untrusted_app init_exec:lnk_file { getattr open read };
allow untrusted_app iorap_prefetcherd:dir { getattr open read };
allow untrusted_app kernel:dir getattr;
allow untrusted_app linkerconfig_file:dir { getattr read };
allow untrusted_app location:dir getattr;
allow untrusted_app mirror_data_file:dir getattr;
allow untrusted_app mnt_media_rw_file:dir getattr;
allow untrusted_app mnt_pass_through_file:dir getattr;
allow untrusted_app mnt_product_file:dir getattr;
allow untrusted_app mnt_sdcard_file:lnk_file read;
allow untrusted_app mnt_vendor_file:dir getattr;
allow untrusted_app netd:dir getattr;
allow untrusted_app priv_app:dir { read open getattr };
allow untrusted_app proc:file { getattr open read };
allow untrusted_app proc_zoneinfo:file { read getattr open };
allow untrusted_app rootfs:dir read;
allow untrusted_app selinuxfs:dir { read open getattr write };
allow untrusted_app selinuxfs:file write;
allow untrusted_app sysfs:file getattr;
allow untrusted_app sysfs:dir { read open getattr };
allow untrusted_app sysfs_fs_f2fs:dir { read search };
allow untrusted_app sysfs_kernel_notes:file getattr;
allow untrusted_app sysfs_kgsl:dir search;
allow untrusted_app sysfs_loop:dir read;
allow untrusted_app sysfs_power:file getattr;
allow untrusted_app sysfs_usermodehelper:file { read open getattr };
allow untrusted_app sysfs_wake_lock:file getattr;
allow untrusted_app sysfs_zram:dir read;
allow untrusted_app system_app:dir { read open getattr };
allow untrusted_app system_bootstrap_lib_file:dir getattr;
allow untrusted_app system_server:dir getattr;
allow untrusted_app theme_prop:file { read open getattr };
allow untrusted_app untrusted_app_27:dir { read open getattr };
allow untrusted_app vendor_file:file getattr;
allow untrusted_app vendor_firmware_file:dir getattr;
allow untrusted_app vendor_msm_irqbalanced:dir getattr;
allow untrusted_app xdsp_device:chr_file getattr;
